<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>The Container Store: Conference Rooms List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" type="text/css"
              th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
              <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
	<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>TCS Conference Rooms</h1>
                     
                    <ul 
             		th:each="room :${rooms }">
                    <li class="room" th:text="${room}">
                    </li>
                    </ul>
                    
  					 
                    
                </div>
            </div>
        </div>
</body>
</html>